{{#each items}}
<div class="{{b 'widget' 'flex-line'}}">
    <div class="{{b 'widget' 'column'}}">
        <h2 class="{{b 'widget' 'title'}}">
                {{reportName}}
        </h2>
        <div class="{{b 'summary-widget' 'stats'}} splash">
            <div class="{{b 'splash' 'title'}}">{{statistic.total}}</div>
            <div class="{{b 'splash' 'subtitle'}}">{{t 'widget.summary.testResults' count=statistic.total}}</div>
        </div>
    </div>
    <div class="{{b 'widget' 'column'}} {{b 'summary-widget' 'chart'}}"></div>

</div>
{{/each}}
        Tags: {{#each tags}}
        <span class="label label__info">{{name}}</span>
    {{/each}}